[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools>=64", "setuptools_scm>=8"]

[project]
authors = [{email = "d.stansby@ucl.ac.uk", name = "HiP-CT Project"}]
classifiers = [
    "Operating System :: POSIX",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.11",
    "Typing :: Typed",
]
dependencies = [
    "dask==2025.2.0",
    "joblib==1.4.2",
    "loguru==0.7.3",
    "numpy==2.2.3",
    "scikit-image==0.25.1",
    "zarr==3.0.3",
]
description = "Convert stacks of images to chunked datasets"
dynamic = ["version"]
keywords = []
name = "stack_to_chunk"
optional-dependencies = {dev = [
    "pre-commit",
    "tox>=4",
], docs = [
    "dask-image",
    "matplotlib",
    "pydata-sphinx-theme",
    "sphinx",
    "sphinx-autoapi",
    "sphinx-gallery",
    "tifffile",
]}
readme = "README.md"
requires-python = ">=3.11"
license.file = "LICENCE.md"
urls.homepage = "https://github.com/HiPCTProject/stack-to-chunk"

[tool.coverage]
run = {branch = true, parallel = true, source = ["stack_to_chunk"]}
paths.source = ["src"]

[tool.pytest.ini_options]
addopts = "--color=yes --cov -vv"

[tool.setuptools_scm]
local_scheme = "no-local-version"
write_to = "src/stack_to_chunk/_version.py"

[tool.tomlsort]
all = true
spaces_indent_inline_array = 4
trailing_comma_inline_array = true
overrides."project.classifiers".inline_arrays = false
overrides."tool.coverage.paths.source".inline_arrays = false

[tool.uv]
dev-dependencies = [
    "ome-zarr-models@git+https://github.com/BioImageTools/ome-zarr-models-py@0068c1e4fcca35a942260f82a299e05ebb180019",
    "pre-commit>=3.8.0",
    "pytest-cov>=5.0.0",
    "pytest>=8.3.2",
]
