name: Tests

on:
  push:
    branches:
      - main
      - 1.x
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - python-version: "3.11"
            os: ubuntu-latest
          - python-version: "3.12"
            os: windows-latest
          - python-version: "3.13"
            os: ubuntu-latest
          - python-version: "3.14"
            os: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Cache tox
        uses: actions/cache@v5
        with:
          path: .tox
          key: tox-${{hashFiles('pyproject.toml') }}

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: "pyproject.toml"

      - name: Install dependencies
        run: python -m pip install tox tox-gh-actions

      - name: Test with tox
        run: tox

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
